@import 'colors.scss';
@import 'layout.scss';
@import 'input-animation.scss';
@import 'modules/normalize';
@import 'modules/custom-inputs';
@import 'modules/sign-in';
@import 'modules/bs4-custom-inputs';

//@import "bootstrap-overrides.scss";

@import "../assets/css/font-awesome.css";

body {
  color: $brand_charcoal;
}

// Set label color to lighter than standard
label {
  color: #c2c2c2 !important;
}

// Increase vertical height of inputs
.form-control, .btn {
  line-height: 2 !important;
}

// bootstrap header
.bg-inverse {
  background-color: #1672a5 !important;
}



.circle {
  width:500px;
  height:500px;
  border-radius:50%;
  font-size:50px;
  color:#fff;
  line-height:500px;
  text-align:center;
  background:#000
}


$font-weight-reg: 300;
$font-weight-semi-bold : 600;
$font-weight-bold : 700;

.font-header-lg {
  font-size: 24px;
  font-weight: $font-weight-bold;
}

.font-header-sm {
  font-size: 16px;
  font-weight: $font-weight-bold;
}

.font-paragraph {
  font-size: 14px;
  font-weight: $font-weight-reg;
}

.font-nav {
  font-size: 14px;
  font-weight: $font-weight-semi-bold;
}

.font-nav-bold {
  font-size: 14px;
  font-weight: $font-weight-bold;
}

.font-contextual {
  font-size: 12px;
  font-weight: $font-weight-bold;
}


.brand-btn-1 {
  background-color: $brand_color_1;
  color: $light;
  border-color: $brand_color_1;

}

.brand-btn-open {
  background-color: $light;
  color: $brand_color_1;
  border-color: $brand_color_1;
}


