@import 'colors.scss';
@import 'layout.scss';
@import 'input-animation.scss';
@import 'modules/normalize';
@import 'modules/custom-inputs';
@import 'modules/sign-in';
@import 'modules/bs4-custom-inputs';

//@import "bootstrap-overrides.scss";

//@import "node_modules/font-awesome/scss/font-awesome";
@import "../assets/css/font-awesome.css";

//@import "node_modules/bootstrap/css/bootstrap";
//@import "node_modules/bootstrap/dist/css/bootstrap.css";

//@import "input-animation";
//@import "overrides";
//@import "bootstrap-overrides";
//@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
//@import "node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
//@import "../assets/css/fontawesome-prefit";
//@import "node_modules/bootstrap-horizon/bootstrap-horizon";
//@import "node_modules/bootstrap-social/bootstrap-social.scss";
//@import "icon-animations";

// Set label color to lighter than standard
label {
  color: #c2c2c2 !important;
}

// Increase vertical height of inputs
.form-control, .btn {
  line-height: 2 !important;
}

// bootstrap header
.bg-inverse {
  background-color: #1672a5 !important;
}



.circle {
  width:500px;
  height:500px;
  border-radius:50%;
  font-size:50px;
  color:#fff;
  line-height:500px;
  text-align:center;
  background:#000
}


$font-weight-reg: 300;
$font-weight-semi-bold : 600;
$font-weight-bold : 700;

.font-header-lg {
  font-size: 24px;
  font-weight: $font-weight-bold;
}

.font-header-sm {
  font-size: 16px;
  font-weight: $font-weight-bold;
}

.font-paragraph {
  font-size: 14px;
  font-weight: $font-weight-reg;
}

.font-nav {
  font-size: 14px;
  font-weight: $font-weight-semi-bold;
}

.font-nav-bold {
  font-size: 14px;
  font-weight: $font-weight-bold;
}

.font-contextual {
  font-size: 12px;
  font-weight: $font-weight-bold;
}




/*
a {
  cursor: pointer;
}

//$font-family-italic: "Neutraface2Text-BookItalic";

.app-content {
  padding-left: $app_wrapper_horizontal_padding !important;
  padding-right: $app_wrapper_horizontal_padding !important;
  margin-left: $app_wrapper_horizontal_margin !important;
  margin-right: $app_wrapper_horizontal_margin !important;
  margin-top: $header-height;
}

@media screen and (max-width: 680px) {
  .app-content {
    padding: 0px !important;
    margin: 0px !important;
  }
}


h1, h2 {
  color: $pink;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
}

// form validation feedback
.ng-valid[required] {
  border-left: 5px solid #42A948;
}

.ng-invalid {
  border-left: 5px solid #a94442;
}

.vert-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.overlay{
  width:100%;
  height:100%;
  display:none;
  position:absolute;
  top:0px;
  left:0px;
  z-index:9999;
}
.overlay div {
  position:relative;
  display:inline-block;
  top:50%;
  margin:-50% 5px 0 0;
}

div.prod-box {
  //background-color: red;
  padding: 0px;
  margin-bottom: 10px !important;
  &:hover .overlay {
    display:block;
    background-color:$pink_transparent;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
  }
}


.pink-font {
  color: $pink;
}


.modal-content {
  max-height: 80vh;
  overflow-y: scroll;
}

.equal {
  display: flex;
  flex-wrap: wrap;
}

.equal > div[class*='col-'] {
  display: flex;
  flex-direction: column;
}

*/



