
<!--
<div class="container">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div *ngFor="let concept of concepts" class="card">
        <img class="card-img-top" src="https://placeholdit.imgix.net/~text?txtsize=9&txt=yay!&w=180&h=100">
        <div class="card-block">
          <h4 class="card-title">{{concept.name}}</h4>
          <p class="card-text">{{concept.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{concept.owners.length}} Owners</li>
          <li class="list-group-item">{{concept.locations.length}} Locations</li>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<div class="app-concept container">
  <div class="content row app-content">
    <div class="col-md-9">
      <div class="content row">
        <div class="concepts">
          <h4 *ngIf="concepts.length == 1">1 Concept</h4>
          <h4 *ngIf="concepts.length != 1">{{concepts.length}} Concepts</h4>
          <div *ngFor="let concept of concepts" class="concept-card container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="concept-container">
                  <div class="img">
                    <img src="https://placehold.it/400">
                  </div>
                  <div class="info">
                    <span *ngIf="concept.name" class="username">
                      <a [routerLink]="['/concept/'+concept.id]">
                        {{concept.name}}
                      </a>
                    </span>
                    <span class="description">
                      {{concept.description}}
                    </span>
                    <span class="platform">Created {{concept.created_at | date:'short' }}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="concept-container">
                  <div class="info">
                    <span *ngIf="concept.owners.length == 1" class="username">{{concept.owners.length}} Owner</span>
                    <span *ngIf="concept.owners.length != 1" class="username">{{concept.owners.length}} Owners</span>
                    <span *ngIf="concept.locations.length == 1" class="description">{{concept.locations.length}} Location</span>
                    <span *ngIf="concept.locations.length != 1" class="description">{{concept.locations.length}} Locations</span>
                    <span class="platform">&nbsp;</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="actions-container text-xs-right">
                  <a (click)="showRemoveConceptModal(concept.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="right-col col-md-3">
      <div class="concept-form container-fluid">
        <div class="concept-form-container">
          <form [formGroup]="concept_form" (ngSubmit)="addConcept()">
            <div class="form-group">
              <legend>Add Concept</legend>

<!--
                              <input
                  formControlName="name"
                  #concept_name
                  ([ngModel])="concept.name"
                  name="concept_name"
                  (keyup.enter)="addConcept(concept_name.value,concept_description.value)"
                  type="text"
                  placeholder="Name"
                  class="form-control"
                  required
                >
                <input
                  formControlName="description"
                  #concept_description
                  ([ngModel])="concept.description"
                  name="concept_description"
                  (keyup.enter)="addConcept(concept_name.value,concept_description.value)"
                  type="text"
                  placeholder="Description"
                  class="form-control"
                  style="margin-top:10px;"
                  required
                >

                -->
                <input
                  formControlName="name"
                  ([ngModel])="concept.name"
                  name="concept_name"
                  type="text"
                  placeholder="Name"
                  class="form-control"
                  required
                >
                <input
                  formControlName="description"
                  ([ngModel])="concept.description"
                  name="concept_description"
                  type="text"
                  placeholder="Description"
                  class="form-control"
                  style="margin-top:10px;"
                  required
                >
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="!concept_form.valid">Save</button>
            </div>
          </form>
        </div>
        <div style="clear:both;"></div>
      </div>



<!--
        <div class="box">
            <span>STUFF</span>

        </div>
        <div class="box links">

            <span>MORE STUFF</span>
            <hr/>
            <ul>
                <li>this</li>
                <li>that</li>
                <li>the other</li>
            </ul>

            <span><i>something else</i></span>
        </div>
-->
    </div>
  </div>
</div>

<div bsModal #removeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header text-xs-center">
        <button (click)="hideConfirmRemoveAudienceModal()" type="button" class="close" aria-label="Close">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-xs-center">
              Are you sure you'd like to delete the concept?
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 p-l-0">
              <button (click)="hideRemoveConceptModal()" type="button" class="btn brand-btn-open">Cancel</button>
            </div>
            <div class="col-xs-6 p-r-0">
              <button (click)="removeConcept()" type="button" class="btn brand-btn-1">Yes, Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
