<nav class="navbar navbar-fixed-top navbar-light">
  <div class="container">
    <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
      <a class="navbar-brand pull-xs-left logo" href="#"><img src="assets/img/logoicon-dark.png"></a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']">How it Works</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" [routerLink]="['/account']">About Protition.com</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/account']">Sign In / Create Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron m-b-0">
  <img src="assets/img/dummy/jumbotron.jpeg">
</div>


<div class="profile-xl hidden-lg-down">
  <div class="container-fluid row-1">
    <div class="container">
      <div class="row row-overlay">
        <div class="col-xs-12 col-md-8">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 content font-header-lg">
                <span>City of Santa Montero XL</span>
                <i class="fa fa-globe"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="position:relative;">
        <div class="col-xs-12 col-md-8">
          <div class="container-fluid">
            <div class="row info font-nav">
              <div class="col-xs-12 col-sm-4">
                <i class="fa fa-users"></i>
                Government <i class="fa fa-chevron-right"></i> Municipal
              </div>
              <div class="col-xs-12 col-sm-4">
                <i class="fa fa-map-marker"></i>
                Santa Monica, CA
              </div>
              <div class="col-xs-12 col-sm-4">
                <i class="fa fa-globe"></i>
                beta.smgov.net/
              </div>
            </div>
            <div class="row info hidden-sm-up">
              <button class="btn">Visit Our Responsibility Page <i class="fa fa-angle-double-right"></i></button>
              <span class="font-header-lg mobile-hdr">About&nbsp;&nbsp;<i class="fa fa-caret-up"></i></span>
            </div>

            <div class="row info-2">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7 p-l-0">

                    <span class="font-header-sm">What We're Working On</span>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <button class="btn hidden-sm-down">Visit Our Responsibility Page <i class="fa fa-angle-double-right"></i></button>
                  </div>
                  <div class="col-md-5 col-lg-12 col-xl-5">
                    <span class="font-header-sm">Communication</span>
                    <p>We invite you to join in on the conversation and protition us here; in return, we commit to providing:</p>
                    <span class="font-header-sm commitment"><i class="fa fa-check"></i>&nbsp;&nbsp;Monthly Updates</span>
                    <span class="font-header-sm commitment"><i class="fa fa-check"></i>&nbsp;&nbsp;Conclusion Recaps</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 hidden-md-down">
          <div class="sticky-box-container">
            <div class="sticky-box">
              <div class="header">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&bg=b2edc5&txtclr=9dc0bc&txt=placeholder&w=200&h=75&txttrack=0">
                <hr/>
                <div style="clear:both;"></div>
              </div>
              <div class="body">
                <span class="font-header-sm">Our Mission</span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <span class="font-header-sm">Get Real With Us</span>
                <div class="social-links">
                  <a><i class="fa fa-facebook-square"></i></a>
                  <a><i class="fa fa-twitter-square"></i></a>
                  <a><i class="fa fa-instagram"></i></a>
                  <a><i class="fa fa-linkedin-square"></i></a>
                </div>
                <div class="tags">
                  <span>#gosamo</span>
                  <span>#samoforreal</span>
                  <div style="clear:both;"></div>
                </div>
              </div>
              <div class="footer">
                <span class="font-header-sm title">Subscribe to Email Updates</span>

                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Email address">
                  <span class="input-group-btn">
                    <button class="btn" type="button">
                      <i class="fa fa-chevron-right"></i>&nbsp;
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid row-2">
    <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <div class="container-fluid">
              <div class="row links font-header-lg">
                <div class="col-xs-12 col-sm-3">
                  <a class="active">Protitions</a>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <a>Updates</a>
                </div>
                <div class="col-xs-12 col-sm-6 text-xs-left text-md-right font-header-lg">
                  <div class="help">
                    How does it work?
                    <i class="fa fa-question-circle"></i>
                  </div>
                </div>
              </div>
              <div class="row info-2">
                <div class="container-fluid">
                  <div class="row">

                    <div class="col-md-12 protition style-1">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-12 font-header-lg">
                                  OpenProtition
                                  &nbsp;&nbsp;<i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12 content">
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-3 text-xs-right icon">
                            <img src="assets/img/logoicon-light.png">
                          </div>
                        </div>
                      </div>
                    </div>


                    <div *ngFor="let prot of protitions" class="col-md-12 protition style-2">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-9">
                            <div class="row">
                              <div class="col-xs-12 font-header-lg">
                                {{prot.name}}
                                &nbsp;&nbsp;<i class="fa fa-clock-o"></i>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12 content">
                                <div class="content">
                                  {{prot.content}}
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-3 text-xs-right icon">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4"></div>
        </div>
    </div>
  </div>
  <div class="container footer">
    <div class="row">
      <div class="col-xs-12 logo"><img src="assets/img/logoicon-dark.png"></div>
    </div>
    <div class="row links">
      <div class="col-sm-3"><a>About Protition.com</a></div>
      <div class="col-sm-3"><a>Search Protitions</a></div>
      <div class="col-sm-3"><a>Invite a Company/Organization</a></div>
      <div class="col-sm-3"><a>Report this Account</a></div>
    </div>
    <div class="row links">
      <div class="col-sm-4"><a>Privacy</a></div>
      <div class="col-sm-4"><a>Terms</a></div>
      <div class="col-sm-4"><a>&copy; McCoy LLC 2016</a></div>
    </div>
  </div>
</div>


<div class="profile-md hidden-sm-down hidden-lg-up">

  <div class="container">
    <div class="row row-overlay">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 content font-header-sm">
            <span>City of Santa Montero Medium</span>
            <i class="fa fa-globe"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid about-section">
    <div class="container collapsible">
      <div class="row">
        <div class="col-xs-8 p-l-0 content about">
          <span class="font-header-sm">What We're Working On</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <button class="btn">Visit Our Responsibility Page <i class="fa fa-angle-double-right"></i></button>
        </div>
        <div class="col-xs-4 p-r-0 content about">
          <span class="font-header-sm">Communication</span>
          <p>We invite you to join in on the conversation and protition us here; in return, we commit to providing:</p>
          <span class="font-header-sm commitment"><i class="fa fa-check"></i>&nbsp;&nbsp;Monthly Updates</span>
          <span class="font-header-sm commitment"><i class="fa fa-check"></i>&nbsp;&nbsp;Conclusion Recaps</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid protitions-section">
    <div class="container collapsible">
      <div class="row content protitions">
        <div class="container-fluid">
          <div class="row links font-header-lg">
            <div class="col-sm-3">
              <a (click)="showTab('prots')" [ngClass]="{'active':protsVisible}">Protitions</a>
            </div>
            <div class="col-sm-3">
              <a (click)="showTab('updates')" [ngClass]="{'active':updatesVisible}">Updates</a>
            </div>
            <div class="col-sm-6 text-sm-right font-header-lg">
              <div class="help">
                How does it work?
                <i class="fa fa-question-circle"></i>
              </div>
            </div>
          </div>
          <div class="row info-2">
            <div *ngIf="protsVisible">
              <div class="col-md-12 protition style-1">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-9">
                      <div class="row">
                        <div class="col-xs-12 font-header-lg">
                          OpenProtition
                          &nbsp;&nbsp;<i class="fa fa-clock-o"></i>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3 text-xs-right icon">
                      <img src="assets/img/logoicon-light.png">
                    </div>
                  </div>
                </div>
              </div>


              <div *ngFor="let prot of protitions" class="col-md-12 protition style-2">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12">
                      <span class="font-header-lg">
                        {{prot.name}}
                        &nbsp;&nbsp;<i class="fa fa-clock-o"></i>
                      </span>
                      <p>
                        {{prot.content}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="updatesVisible">
              <div style="padding:20px 0px;text-align:center;">
                There are no updates
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="interactions">
        <div class="row">
          <div class="col-xs-8 offset-xs-2 header font-header-lg">
            Get Real With Us
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 offset-xs-2 get-real">
            <div class="social-links">
              <a><i class="fa fa-facebook-square"></i></a>
              <a><i class="fa fa-twitter-square"></i></a>
              <a><i class="fa fa-instagram"></i></a>
              <a><i class="fa fa-linkedin-square"></i></a>
            </div>
            <div class="tags">
              <span>#gosamo</span>
              <span>#samoforreal</span>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 offset-xs-2 subscribe">
            <div class="font-header-sm">
              Subscribe to Email Updates
            </div>
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Email address">
              <span class="input-group-btn">
                <button class="btn" type="button">
                  <i class="fa fa-chevron-right"></i>&nbsp;
                  <!--OK-->
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid interactions-section">
    <div class="container footer">
      <div class="footer row links">
        <div class="col-xs-12 logo"><img src="assets/img/logoicon-dark.png"></div>
        <div class="col-sm-3"><a>About Protition.com</a></div>
        <div class="col-sm-3"><a>Search Protitions</a></div>
        <div class="col-sm-3"><a>Invite a Company</a></div>
        <div class="col-sm-3"><a>Report this Account</a></div>
        <div class="col-sm-4"><a>Privacy</a></div>
        <div class="col-sm-4"><a>Terms</a></div>
        <div class="col-sm-4"><a>&copy; McCoy LLC 2016</a></div>
      </div>
    </div>
  </div>
</div>


<div class="profile-sm hidden-xs-down hidden-md-up">

  <div class="container">
    <div class="row row-overlay">
      <div class="col-xs-12 col-md-8">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 content font-header-sm">
              <span>City of Santa Montero Small</span>
              <i class="fa fa-globe"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="row info font-nav">
          <div class="col-xs-12">
            <i class="fa fa-users"></i>
            Government <i class="fa fa-chevron-right"></i> Municipal
          </div>
          <div class="col-xs-12">
            <i class="fa fa-map-marker"></i>
            Santa Monica, CA
          </div>
          <div class="col-xs-12">
            <i class="fa fa-globe"></i>
            beta.smgov.net/
          </div>
        </div>
      </div>
    </div>

    <div class="container collapsible p-x-0">
      <div class="row">
        <!--<div class="col-xs-12 header font-header-lg">-->
          <!--About-->
          <!--<i *ngIf="aboutVisible" class="fa fa-caret-up"></i>-->
          <!--<i *ngIf="!aboutVisible" class="fa fa-caret-down"></i>-->
        <!--</div>-->
        <div class="col-xs-12 text-xs-center content about">
          <span class="font-header-sm">What We're Working On</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <span class="font-header-sm">Communication</span>
          <p>We invite you to join in on the conversation and protition us here; in return, we commit to providing:</p>
          <span class="font-header-sm commitment"><i class="fa fa-check"></i>&nbsp;&nbsp;Monthly Updates</span>
          <span class="font-header-sm commitment"><i class="fa fa-check"></i>&nbsp;&nbsp;Conclusion Recaps</span>

          <button class="btn">Visit Our Responsibility Page <i class="fa fa-angle-double-right"></i></button>

        </div>
      </div>
    </div>

    <div class="container collapsible p-x-0">
      <!--<div class="row">-->
        <!--<div class="col-xs-12 header font-header-lg" >-->
          <!--Protitions-->
          <!--<i *ngIf="protsVisible" class="fa fa-caret-up"></i>-->
          <!--<i *ngIf="!protsVisible" class="fa fa-caret-down"></i>-->
        <!--</div>-->
      <!--</div>-->
      <div class="row content protitions">


        <div class="container-fluid">
          <div class="row links font-header-lg">
            <div class="col-sm-3">
              <a (click)="showTab('prots')" [ngClass]="{'active':protsVisible}">Protitions</a>
            </div>
            <div class="col-sm-3">
              <a (click)="showTab('updates')" [ngClass]="{'active':updatesVisible}">Updates</a>
            </div>
            <div class="col-sm-6 text-sm-right font-header-lg">
              <div class="help">
                How does it work?
                <i class="fa fa-question-circle"></i>
              </div>
            </div>
          </div>
          <div class="row info-2">
            <div *ngIf="protsVisible">
              <div class="col-xs-12 protition style-1">
                <img src="assets/img/logoicon-light.png">
                <span class="font-header-lg">OpenProtition</span>
                <span class="duration"><i class="fa fa-clock-o"></i></span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
              </div>
              <div *ngFor="let prot of protitions" class="col-xs-12 protition style-2">

                <span class="font-header-lg">{{prot.name}}</span>
                <span class="duration"><i class="fa fa-clock-o"></i></span>
                <p>
                  {{prot.content}}
                </p>

              </div>
            </div>
            <div *ngIf="updatesVisible">
              <div style="padding:20px 0px;text-align:center;">
                There are no updates
              </div>
            </div>
            <!--
            <div class="container-fluid">
              <div class="row">

                <div class="col-md-12 protition style-1">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-9">
                        <div class="row">
                          <div class="col-xs-12 font-header-lg">
                            OpenProtition
                            &nbsp;&nbsp;<i class="fa fa-clock-o"></i>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3 text-xs-right icon">
                        <img src="assets/img/logoicon-light.png">
                      </div>
                    </div>
                  </div>
                </div>


                <div *ngFor="let prot of protitions" class="col-md-12 protition style-2">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-9">
                        <div class="row">
                          <div class="col-xs-12 font-header-lg">
                            {{prot.name}}
                            &nbsp;&nbsp;<i class="fa fa-clock-o"></i>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 content">
                            <div class="content">
                              {{prot.content}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3 text-xs-right icon">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            -->
          </div>
        </div>



      </div>

      <div class="container collapsible p-x-0">
        <div class="row">
          <div class="col-xs-12 header font-header-lg">
            Get Real With Us
          </div>
        </div>
        <div class="row content get-real">
          <div class="col-xs-12">
            <div class="social-links">
              <a><i class="fa fa-facebook-square"></i></a>
              <a><i class="fa fa-twitter-square"></i></a>
              <a><i class="fa fa-instagram"></i></a>
              <a><i class="fa fa-linkedin-square"></i></a>
            </div>
            <div class="tags">
              <span>#gosamo</span>
              <span>#samoforreal</span>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="container collapsible p-x-0">
        <div class="row">

        </div>
        <div class="row content subscribe">
          <div class="col-xs-12">
            <div class="font-header-sm">
              Subscribe to Email Updates
            </div>
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Email address">
            <span class="input-group-btn">
              <button class="btn" type="button">
                <i class="fa fa-chevron-right"></i>&nbsp;
              </button>
            </span>
            </div>
          </div>
        </div>
      </div>

      <div class="container collapsible p-x-0">
        <div class="row content footer">
          <div class="col-xs-12">
            <div class="input-group">
              <img src="assets/img/logoicon-dark.png">
              <a>About Protition.com</a>
              <a>Search Protitions</a>
              <a>Invite a Company/Organization</a>
              <a>Report this Account</a>
            <span class="privacy-terms">
              <a>Privacy<i class="fa fa-circle"></i>Terms</a>
            </span>
              <span>&copy; McCoy LLC</span>
              <span>2016</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>


<div class="profile-xs hidden-sm-up">

  <div class="container">
    <div class="row row-overlay">
      <div class="col-xs-12 col-md-8">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 content font-header-lg">
              <i class="fa fa-globe visible-sm-up"></i>
              <span>City of Santa Montero XS</span>
              <i class="fa fa-globe hidden-sm-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="row info font-nav">
          <div class="col-xs-12">
            <i class="fa fa-users"></i>
            Government <i class="fa fa-chevron-right"></i> Municipal
          </div>
          <div class="col-xs-12">
            <i class="fa fa-map-marker"></i>
            Santa Monica, CA
          </div>
          <div class="col-xs-12">
            <i class="fa fa-globe"></i>
            beta.smgov.net/
          </div>
        </div>
        <div class="row info">
          <button class="btn">Visit Our Responsibility Page <i class="fa fa-angle-double-right"></i></button>
        </div>
      </div>
      <!--
      <div class="col-xs-4 hidden-md-down">
        <div class="sticky-box-container">
          <div class="sticky-box">
            <div class="header">
              <img src="https://placeholdit.imgix.net/~text?txtsize=33&bg=b2edc5&txtclr=9dc0bc&txt=placeholder&w=200&h=75&txttrack=0">
              <hr/>
              <div style="clear:both;"></div>
            </div>
            <div class="body">
              <span class="font-header-sm">Our Mission</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
              <span class="font-header-sm">Get Real With Us</span>
              <div class="social-links">
                <a><i class="fa fa-facebook-square"></i></a>
                <a><i class="fa fa-twitter-square"></i></a>
                <a><i class="fa fa-instagram"></i></a>
                <a><i class="fa fa-linkedin-square"></i></a>
              </div>
              <div class="tags">
                <span>#gosamo</span>
                <span>#samoforreal</span>
                <div style="clear:both;"></div>
              </div>
            </div>
            <div class="footer">
              <span class="font-header-sm title">Subscribe to Email Updates</span>

              <div class="input-group">
                <input type="email" class="form-control" placeholder="Email address">
                <span class="input-group-btn">
                  <button class="btn" type="button">
                    <i class="fa fa-chevron-right"></i>&nbsp;
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>

    <div class="container collapsible p-x-0">
      <div class="row">
        <div class="col-xs-12 header font-header-lg"
             data-toggle="collapse"
             data-target="#collapseAbout"
             (click)="aboutVisible = !aboutVisible">
          About
          <i *ngIf="aboutVisible" class="fa fa-caret-up"></i>
          <i *ngIf="!aboutVisible" class="fa fa-caret-down"></i>
        </div>
        <div id="collapseAbout" class="col-xs-12 text-xs-center content panel-collapse collapse out about">
          <span class="font-header-sm">What We're Working On</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <span class="font-header-sm">Communication</span>
          <p>We invite you to join in on the conversation and protition us here; in return, we commit to providing:</p>
          <span class="font-header-sm commitment"><i class="fa fa-check"></i>&nbsp;&nbsp;Monthly Updates</span>
          <span class="font-header-sm commitment"><i class="fa fa-check"></i>&nbsp;&nbsp;Conclusion Recaps</span>
        </div>
      </div>
    </div>

    <div class="container collapsible p-x-0">
      <div class="row">
        <div class="col-xs-12 header font-header-lg"
             data-toggle="collapse"
             data-target="#collapseProts"
             (click)="protsVisible = !protsVisible"
        >
          Protitions
          <i *ngIf="protsVisible" class="fa fa-caret-up"></i>
          <i *ngIf="!protsVisible" class="fa fa-caret-down"></i>
        </div>
      </div>
      <div id="collapseProts" class="row content panel-collapse collapse out protitions">
        <div class="col-xs-12 protition style-1">
          <img src="assets/img/logoicon-light.png">
          <span class="font-header-lg">OpenProtition</span>
          <span class="duration"><i class="fa fa-clock-o"></i></span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
        <div *ngFor="let prot of protitions" class="col-xs-12 protition style-2">

          <span class="font-header-lg">{{prot.name}}</span>
          <span class="duration"><i class="fa fa-clock-o"></i></span>
          <p>
            {{prot.content}}
          </p>

        </div>






    </div>

    <div class="container collapsible p-x-0">
      <div class="row">
        <div class="col-xs-12 header font-header-lg"
             data-toggle="collapse"
             data-target="#collapseUpdates"
             (click)="updatesVisible = !updatesVisible"
        >
          Updates
          <i *ngIf="updatesVisible" class="fa fa-caret-up"></i>
          <i *ngIf="!updatesVisible" class="fa fa-caret-down"></i>
        </div>
      </div>
      <div id="collapseUpdates" class="row content panel-collapse collapse out updates">
        <div class="col-xs-12">
          <div style="padding:20px 0px;text-align:center;">
            There are no updates
          </div>
        </div>
      </div>
    </div>

    <div class="container collapsible p-x-0">
      <div class="row">
        <div class="col-xs-12 header font-header-lg">
          Get Real With Us
        </div>
      </div>
      <div class="row content get-real">
        <div class="col-xs-12">
          <div class="social-links">
            <a><i class="fa fa-facebook-square"></i></a>
            <a><i class="fa fa-twitter-square"></i></a>
            <a><i class="fa fa-instagram"></i></a>
            <a><i class="fa fa-linkedin-square"></i></a>
          </div>
          <div class="tags">
            <span>#gosamo</span>
            <span>#samoforreal</span>
            <div style="clear:both;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container collapsible p-x-0">
      <div class="row">

      </div>
      <div class="row content subscribe">
        <div class="col-xs-12">
          <div class="font-header-sm">
            Subscribe to Email Updates
          </div>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Email address">
            <span class="input-group-btn">
              <button class="btn" type="button">
                <i class="fa fa-chevron-right"></i>&nbsp;
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="container collapsible p-x-0">
      <div class="row content footer">
        <div class="col-xs-12">
          <div class="input-group">
            <img src="assets/img/logoicon-dark.png">
            <a>About Protition.com</a>
            <a>Search Protitions</a>
            <a>Invite a Company/Organization</a>
            <a>Report this Account</a>
            <span class="privacy-terms">
              <a>Privacy<i class="fa fa-circle"></i>Terms</a>
            </span>
            <span>&copy; McCoy LLC</span>
            <span>2016</span>
          </div>
        </div>
      </div>
    </div>


  </div>
  </div>

</div>


<!--
<div class="container-fluid">
  <div class="row">
    <div class=""></div>
  </div>
</div>
-->

<!--
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
-->
